// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: "Cairo-Regular";
    src: url("../../fonts/Cairo-Regular.ttf");
}
@font-face {
    font-family: "Cairo-Medium";
    src: url("../../fonts/Cairo-Medium.ttf");
}

@font-face {
    font-family: "Cairo-Bold";
    src: url("../../fonts/Cairo-Bold.ttf");
}
@font-face {
    font-family: "Cairo-SemiBold";
    src: url("../../fonts/Cairo-SemiBold.ttf");
}
