<div class="page_wrapper">
  <div class="boxs">
    <div class="row">
      <div class="col-3">
        <div class="box">
          <img src="../../../assets/images/cart1.svg" alt="" />

          <div class="txt">
            <h2>44</h2>
            <p>Branches</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box">
          <img src="../../../assets/images/cart2.svg" alt="" />

          <div class="txt">
            <h2>434</h2>
            <p>Max Employees</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box">
          <img src="../../../assets/images/cart3.svg" alt="" />

          <div class="txt">
            <h2>434</h2>
            <p>Employees</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="box">
          <img src="../../../assets/images/cart4.svg" alt="" />

          <div class="txt">
            <h2>222</h2>
            <p>Jobs</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container mt-5">
    <div class="filter">
      <div class="row">
        <div class="col-3">
          <div class="form_group">
            <label for="">Name</label>
            <input type="text" placeholder="Name" class="w-100" />
          </div>
        </div>
        <div class="col-3">
          <div class="form_group">
            <label for="">Name</label>
            <input type="text" placeholder="Name" class="w-100" />
          </div>
        </div>
        <div class="col-2">
          <button class="btn main-btn px-4">Search</button>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Numbers</th>
          <th>Letters</th>
          <th>Colors</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>A</td>
          <td>Red</td>
        </tr>
        <tr>
          <td>2</td>
          <td>B</td>
          <td>Yellow</td>
        </tr>
        <tr>
          <td>3</td>
          <td>C</td>
          <td>Blue</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
