.co-secondary {
  color: $secondary-color;
}
.primary-color,
.text-primary {
  color: #3f5fa0 !important;
}
.text-secondary {
  color: $secondary-color !important;
}
.text-gray {
  color: #4b4d52 !important;
}
.text-gray2 {
  color: #575A61!important;
}
.text-gray3 {
  color: #86898C!important;
}
.text-gray4 {
  color: #86888C!important;
}
.text-info {
  color: #3f5fa0 !important;
}
.text-success {
  color: #12b76a !important;
}
.text-warning {
  color: #f79009 !important;
}
.text-danger {
  color: #f04438 !important;
}
