$font-size-base: 10;

/*margins*/
@mixin margins {
  @for $i from 0 through 100 {
    @if $i % 2 == 0 {  
      .me-#{$i} {
        margin-inline-end: #{$i / $font-size-base}rem !important;
      }
      .ms-#{$i} {
        margin-inline-start:  #{$i / $font-size-base}rem !important;
      }
  
      .mb-#{$i} {
        margin-bottom: #{$i / $font-size-base}rem !important;
      }
      .mt-#{$i} {
        margin-top: #{$i / $font-size-base}rem !important;
      }
  
      .mx-#{$i} {
        margin-left: #{$i / $font-size-base}rem !important;
        margin-right: #{$i / $font-size-base}rem !important;
      }
  
      .my-#{$i} {
        margin-top: #{$i / $font-size-base}rem !important;
        margin-bottom: #{$i / $font-size-base}rem !important;
      }
      .m-#{$i} {
        margin: #{$i / $font-size-base}rem !important;
      }
    }
  }
}

@include margins;